@import "tailwindcss";

/* THEME VARIABLES */
:root {
  --c-primary: #f28c28;
  --c-primary-hover: #e57a17;
  --c-bg: #f5f5f5;
  --c-card: #ffffff;
  --c-border: #e5e5e5;
  --c-text: #1f1f1f;
  --c-text2: #6b6b6b;
}

/* DARK MODE */
.dark {
  --c-bg: #121212;
  --c-card: #1e1e1e;
  --c-border: #2a2a2a;

  --c-text: #f5f5f5;
  --c-text2: #a1a1a1;
}

/* BASE */
body {
  margin: 0;
  background: var(--c-bg);
  color: var(--c-text);
}